In [1]:
import pandas as pd

In [5]:
file_path = r"D:\christ\internship2\flight price prediction\Data_Train.xlsx"

a=pd.read_excel(file_path)

In [6]:
a.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [7]:
a.describe()

              Price
count  10683.000000
mean    9087.064121
std     4611.359167
min     1759.000000
25%     5277.000000
50%     8372.000000
75%    12373.000000
max    79512.000000

In [8]:
a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

In [9]:
a.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

In [10]:
a.drop("Route",axis=1)

,Airline,Date_of_Journey,Source,Destination,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,16:50,21:35,4h 45m,1 stop,No info,13302
...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,9/04/2019,Kolkata,Banglore,19:55,22:25,2h 30m,non-stop,No info,4107
10679,Air India,27/04/2019,Kolkata,Banglore,20:45,23:20,2h 35m,non-stop,No info,4145
10680,Jet Airways,27/04/2019,Banglore,Delhi,08:20,11:20,3h,non-stop,No info,7229
10681,Vistara,01/03/2019,Banglore,New Delhi,11:30,14:10,2h 40m,non-stop,No info,12648
10682,Air India,9/05/2019,Delhi,Cochin,10:55,19:15,8h 20m,2 stops,No info,11753

In [11]:
a.drop("Additional_Info",axis=1)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,13302
...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,9/04/2019,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,non-stop,4107
10679,Air India,27/04/2019,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,non-stop,4145
10680,Jet Airways,27/04/2019,Banglore,Delhi,BLR → DEL,08:20,11:20,3h,non-stop,7229
10681,Vistara,01/03/2019,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,12648
10682,Air India,9/05/2019,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,11753

In [12]:
a["Journey_day"] = pd.to_datetime(a.Date_of_Journey, format="%d/%m/%Y").dt.day
a["Journey_month"]= pd.to_datetime(a["Date_of_Journey"], format = "%d/%m/%Y").dt.month

In [13]:
a.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Journey_day,Journey_month
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,3
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,1,5
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882,9,6
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218,12,5
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302,1,3

In [14]:
a.drop(["Date_of_Journey","Route","Additional_Info"],axis=1,inplace=True)

In [15]:
a.head()

,Airline,Source,Destination,Dep_Time,Arrival_Time,Duration,Total_Stops,Price,Journey_day,Journey_month
0,IndiGo,Banglore,New Delhi,22:20,01:10 22 Mar,2h 50m,non-stop,3897,24,3
1,Air India,Kolkata,Banglore,05:50,13:15,7h 25m,2 stops,7662,1,5
2,Jet Airways,Delhi,Cochin,09:25,04:25 10 Jun,19h,2 stops,13882,9,6
3,IndiGo,Kolkata,Banglore,18:05,23:30,5h 25m,1 stop,6218,12,5
4,IndiGo,Banglore,New Delhi,16:50,21:35,4h 45m,1 stop,13302,1,3

In [16]:
a.Total_Stops.value_counts()

Total_Stops
1 stop      5625
non-stop    3491
2 stops     1520
3 stops       45
4 stops        1
Name: count, dtype: int64

In [17]:

a.Total_Stops.replace({'non-stop': 0,'1 stop':1,'2 stops':2,'3 stops':3,'4 stops':4 },inplace=True)

C:\Users\Asus\AppData\Local\Temp\ipykernel_16716\3379515525.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  a.Total_Stops.replace({'non-stop': 0,'1 stop':1,'2 stops':2,'3 stops':3,'4 stops':4 },inplace=True)
C:\Users\Asus\AppData\Local\Temp\ipykernel_16716\3379515525.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  a.Total_Stops.replace({'non-stop': 0,'1 stop':1,'2 stops':2,'3 stops':3,'4 stops':4 },inplace=True)

In [18]:
a

,Airline,Source,Destination,Dep_Time,Arrival_Time,Duration,Total_Stops,Price,Journey_day,Journey_month
0,IndiGo,Banglore,New Delhi,22:20,01:10 22 Mar,2h 50m,0.0,3897,24,3
1,Air India,Kolkata,Banglore,05:50,13:15,7h 25m,2.0,7662,1,5
2,Jet Airways,Delhi,Cochin,09:25,04:25 10 Jun,19h,2.0,13882,9,6
3,IndiGo,Kolkata,Banglore,18:05,23:30,5h 25m,1.0,6218,12,5
4,IndiGo,Banglore,New Delhi,16:50,21:35,4h 45m,1.0,13302,1,3
...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,Kolkata,Banglore,19:55,22:25,2h 30m,0.0,4107,9,4
10679,Air India,Kolkata,Banglore,20:45,23:20,2h 35m,0.0,4145,27,4
10680,Jet Airways,Banglore,Delhi,08:20,11:20,3h,0.0,7229,27,4
10681,Vistara,Banglore,New Delhi,11:30,14:10,2h 40m,0.0,12648,1,3
10682,Air India,Delhi,Cochin,10:55,19:15,8h 20m,2.0,11753,9,5

In [19]:
a.dropna(inplace=True)

In [20]:
a.isnull().sum()

Airline          0
Source           0
Destination      0
Dep_Time         0
Arrival_Time     0
Duration         0
Total_Stops      0
Price            0
Journey_day      0
Journey_month    0
dtype: int64

In [21]:
a.Total_Stops.value_counts()

Total_Stops
1.0    5625
0.0    3491
2.0    1520
3.0      45
4.0       1
Name: count, dtype: int64

In [1]:
a['Total_Stops']=a['Total_Stops'].astype(int)

NameError: name 'a' is not defined

In [23]:
a.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10682 entries, 0 to 10682
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Airline        10682 non-null  object
 1   Source         10682 non-null  object
 2   Destination    10682 non-null  object
 3   Dep_Time       10682 non-null  object
 4   Arrival_Time   10682 non-null  object
 5   Duration       10682 non-null  object
 6   Total_Stops    10682 non-null  int64
 7   Price          10682 non-null  int64
 8   Journey_day    10682 non-null  int32
 9   Journey_month  10682 non-null  int32
dtypes: int32(2), int64(2), object(6)
memory usage: 834.5+ KB

In [24]:
null_rows = a[a.isnull().any(axis=1)]

print(null_rows)

Empty DataFrame
Columns: [Airline, Source, Destination, Dep_Time, Arrival_Time, Duration, Total_Stops, Price, Journey_day, Journey_month]
Index: []

In [25]:
a

,Airline,Source,Destination,Dep_Time,Arrival_Time,Duration,Total_Stops,Price,Journey_day,Journey_month
0,IndiGo,Banglore,New Delhi,22:20,01:10 22 Mar,2h 50m,0,3897,24,3
1,Air India,Kolkata,Banglore,05:50,13:15,7h 25m,2,7662,1,5
2,Jet Airways,Delhi,Cochin,09:25,04:25 10 Jun,19h,2,13882,9,6
3,IndiGo,Kolkata,Banglore,18:05,23:30,5h 25m,1,6218,12,5
4,IndiGo,Banglore,New Delhi,16:50,21:35,4h 45m,1,13302,1,3
...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,Kolkata,Banglore,19:55,22:25,2h 30m,0,4107,9,4
10679,Air India,Kolkata,Banglore,20:45,23:20,2h 35m,0,4145,27,4
10680,Jet Airways,Banglore,Delhi,08:20,11:20,3h,0,7229,27,4
10681,Vistara,Banglore,New Delhi,11:30,14:10,2h 40m,0,12648,1,3
10682,Air India,Delhi,Cochin,10:55,19:15,8h 20m,2,11753,9,5

In [26]:
a.Airline.value_counts()

Airline
Jet Airways                          3849
IndiGo                               2053
Air India                            1751
Multiple carriers                    1196
SpiceJet                              818
Vistara                               479
Air Asia                              319
GoAir                                 194
Multiple carriers Premium economy      13
Jet Airways Business                    6
Vistara Premium economy                 3
Trujet                                  1
Name: count, dtype: int64

In [27]:
a=a.drop(a[a['Airline']=='GoAir'].index)

In [28]:
a.Airline.value_counts()

Airline
Jet Airways                          3849
IndiGo                               2053
Air India                            1751
Multiple carriers                    1196
SpiceJet                              818
Vistara                               479
Air Asia                              319
Multiple carriers Premium economy      13
Jet Airways Business                    6
Vistara Premium economy                 3
Trujet                                  1
Name: count, dtype: int64

In [29]:
a=a.drop(a[a['Airline']=='Multiple carriers Premium economy'].index)

In [30]:
a=a.drop(a[a['Airline']=='Trujet'].index)

In [31]:
a.Airline.value_counts()

Airline
Jet Airways                3849
IndiGo                     2053
Air India                  1751
Multiple carriers          1196
SpiceJet                    818
Vistara                     479
Air Asia                    319
Jet Airways Business          6
Vistara Premium economy       3
Name: count, dtype: int64

In [32]:
airline_c=a['Airline'].value_counts()

airline_count_less_10=airline_c[airline_c<=479]
a['Airline']=a['Airline'].apply(lambda x: 'other' if x in airline_count_less_10 else x)

airline_count_less_10

Airline
Vistara                    479
Air Asia                   319
Jet Airways Business         6
Vistara Premium economy      3
Name: count, dtype: int64

In [33]:
a.Airline

0             IndiGo
1          Air India
2        Jet Airways
3             IndiGo
4             IndiGo
            ...
10678          other
10679      Air India
10680    Jet Airways
10681          other
10682      Air India
Name: Airline, Length: 10474, dtype: object

In [34]:
a.head()

,Airline,Source,Destination,Dep_Time,Arrival_Time,Duration,Total_Stops,Price,Journey_day,Journey_month
0,IndiGo,Banglore,New Delhi,22:20,01:10 22 Mar,2h 50m,0,3897,24,3
1,Air India,Kolkata,Banglore,05:50,13:15,7h 25m,2,7662,1,5
2,Jet Airways,Delhi,Cochin,09:25,04:25 10 Jun,19h,2,13882,9,6
3,IndiGo,Kolkata,Banglore,18:05,23:30,5h 25m,1,6218,12,5
4,IndiGo,Banglore,New Delhi,16:50,21:35,4h 45m,1,13302,1,3

In [35]:
a['Arrival_Hour'] = a['Arrival_Time'].str[:2].astype(int)
a['Arrival_Minute'] = a['Arrival_Time'].str[3:5].astype(int)
a['Arrival_Day'] = a['Arrival_Time'].str[6:8].fillna(0).astype(int,errors='ignore')
a['Arrival_Month'] = a['Arrival_Time'].str[9:12].fillna(0).astype(int,errors='ignore')

In [36]:
a.head()

,Airline,Source,Destination,Dep_Time,Arrival_Time,Duration,Total_Stops,Price,Journey_day,Journey_month,Arrival_Hour,Arrival_Minute,Arrival_Day,Arrival_Month
0,IndiGo,Banglore,New Delhi,22:20,01:10 22 Mar,2h 50m,0,3897,24,3,1,10,22,Mar
1,Air India,Kolkata,Banglore,05:50,13:15,7h 25m,2,7662,1,5,13,15,,
2,Jet Airways,Delhi,Cochin,09:25,04:25 10 Jun,19h,2,13882,9,6,4,25,10,Jun
3,IndiGo,Kolkata,Banglore,18:05,23:30,5h 25m,1,6218,12,5,23,30,,
4,IndiGo,Banglore,New Delhi,16:50,21:35,4h 45m,1,13302,1,3,21,35,,

In [37]:
a.drop('Arrival_Day',axis=1,inplace=True)

In [38]:
a.head()

,Airline,Source,Destination,Dep_Time,Arrival_Time,Duration,Total_Stops,Price,Journey_day,Journey_month,Arrival_Hour,Arrival_Minute,Arrival_Month
0,IndiGo,Banglore,New Delhi,22:20,01:10 22 Mar,2h 50m,0,3897,24,3,1,10,Mar
1,Air India,Kolkata,Banglore,05:50,13:15,7h 25m,2,7662,1,5,13,15,
2,Jet Airways,Delhi,Cochin,09:25,04:25 10 Jun,19h,2,13882,9,6,4,25,Jun
3,IndiGo,Kolkata,Banglore,18:05,23:30,5h 25m,1,6218,12,5,23,30,
4,IndiGo,Banglore,New Delhi,16:50,21:35,4h 45m,1,13302,1,3,21,35,

In [39]:
a.drop('Arrival_Month',axis=1,inplace=True)

In [40]:
a.head()

,Airline,Source,Destination,Dep_Time,Arrival_Time,Duration,Total_Stops,Price,Journey_day,Journey_month,Arrival_Hour,Arrival_Minute
0,IndiGo,Banglore,New Delhi,22:20,01:10 22 Mar,2h 50m,0,3897,24,3,1,10
1,Air India,Kolkata,Banglore,05:50,13:15,7h 25m,2,7662,1,5,13,15
2,Jet Airways,Delhi,Cochin,09:25,04:25 10 Jun,19h,2,13882,9,6,4,25
3,IndiGo,Kolkata,Banglore,18:05,23:30,5h 25m,1,6218,12,5,23,30
4,IndiGo,Banglore,New Delhi,16:50,21:35,4h 45m,1,13302,1,3,21,35

In [41]:
a.drop('Arrival_Time',axis=1,inplace=True)

In [42]:
a['Duration_Hours'] = a['Duration'].str.extract(r'(\d+)h', expand=False).fillna(0).astype(int)
a['Duration_Minutes'] = a['Duration'].str.extract(r'(\d+)m', expand=False).fillna(0).astype(int)

In [43]:
a.head()

,Airline,Source,Destination,Dep_Time,Duration,Total_Stops,Price,Journey_day,Journey_month,Arrival_Hour,Arrival_Minute,Duration_Hours,Duration_Minutes
0,IndiGo,Banglore,New Delhi,22:20,2h 50m,0,3897,24,3,1,10,2,50
1,Air India,Kolkata,Banglore,05:50,7h 25m,2,7662,1,5,13,15,7,25
2,Jet Airways,Delhi,Cochin,09:25,19h,2,13882,9,6,4,25,19,0
3,IndiGo,Kolkata,Banglore,18:05,5h 25m,1,6218,12,5,23,30,5,25
4,IndiGo,Banglore,New Delhi,16:50,4h 45m,1,13302,1,3,21,35,4,45

In [44]:
a['Duration_Hours'] = a['Duration'].str.extract(r'(\d+)h', expand=False).fillna(0).astype(int)

In [45]:
a.drop('Duration',axis=1,inplace=True)

In [46]:
a.head()

,Airline,Source,Destination,Dep_Time,Total_Stops,Price,Journey_day,Journey_month,Arrival_Hour,Arrival_Minute,Duration_Hours,Duration_Minutes
0,IndiGo,Banglore,New Delhi,22:20,0,3897,24,3,1,10,2,50
1,Air India,Kolkata,Banglore,05:50,2,7662,1,5,13,15,7,25
2,Jet Airways,Delhi,Cochin,09:25,2,13882,9,6,4,25,19,0
3,IndiGo,Kolkata,Banglore,18:05,1,6218,12,5,23,30,5,25
4,IndiGo,Banglore,New Delhi,16:50,1,13302,1,3,21,35,4,45

In [47]:
a.Airline.value_counts()

Airline
Jet Airways          3849
IndiGo               2053
Air India            1751
Multiple carriers    1196
SpiceJet              818
other                 807
Name: count, dtype: int64

In [48]:
a.Source.value_counts()

Source
Delhi       4447
Kolkata     2846
Banglore    2104
Mumbai       696
Chennai      381
Name: count, dtype: int64

import sklearn

In [65]:
from sklearn.preprocessing import LabelEncoder
l=LabelEncoder()

In [66]:
a['Airline']=l.fit_transform(a['Airline'])

In [67]:
a.head()

,Airline,Source,Destination,Dep_Time,Total_Stops,Price,Journey_day,Journey_month,Arrival_Hour,Arrival_Minute,Duration_Hours,Duration_Minutes
0,1,Banglore,New Delhi,22:20,0,3897,24,3,1,10,2,50
1,0,Kolkata,Banglore,05:50,2,7662,1,5,13,15,7,25
2,2,Delhi,Cochin,09:25,2,13882,9,6,4,25,19,0
3,1,Kolkata,Banglore,18:05,1,6218,12,5,23,30,5,25
4,1,Banglore,New Delhi,16:50,1,13302,1,3,21,35,4,45

In [68]:
a['Source']=l.fit_transform(a['Source'])

In [69]:
a['Destination']=l.fit_transform(a['Destination'])

In [70]:
a.head()

,Airline,Source,Destination,Dep_Time,Total_Stops,Price,Journey_day,Journey_month,Arrival_Hour,Arrival_Minute,Duration_Hours,Duration_Minutes
0,1,0,5,22:20,0,3897,24,3,1,10,2,50
1,0,3,0,05:50,2,7662,1,5,13,15,7,25
2,2,2,1,09:25,2,13882,9,6,4,25,19,0
3,1,3,0,18:05,1,6218,12,5,23,30,5,25
4,1,0,5,16:50,1,13302,1,3,21,35,4,45

In [71]:
a[['Dep_Hour', 'Dep_Minute']] = a['Dep_Time'].str.split(':', expand=True)

a['Dep_Hour'] = a['Dep_Hour'].astype(int)
a['Dep_Minute'] = a['Dep_Minute'].astype(int)

In [72]:
a.head()

,Airline,Source,Destination,Dep_Time,Total_Stops,Price,Journey_day,Journey_month,Arrival_Hour,Arrival_Minute,Duration_Hours,Duration_Minutes,Dep_Hour,Dep_Minute
0,1,0,5,22:20,0,3897,24,3,1,10,2,50,22,20
1,0,3,0,05:50,2,7662,1,5,13,15,7,25,5,50
2,2,2,1,09:25,2,13882,9,6,4,25,19,0,9,25
3,1,3,0,18:05,1,6218,12,5,23,30,5,25,18,5
4,1,0,5,16:50,1,13302,1,3,21,35,4,45,16,50

In [73]:
a.drop("Dep_Time",axis=1,inplace=True)

In [74]:
a.head()

,Airline,Source,Destination,Total_Stops,Price,Journey_day,Journey_month,Arrival_Hour,Arrival_Minute,Duration_Hours,Duration_Minutes,Dep_Hour,Dep_Minute
0,1,0,5,0,3897,24,3,1,10,2,50,22,20
1,0,3,0,2,7662,1,5,13,15,7,25,5,50
2,2,2,1,2,13882,9,6,4,25,19,0,9,25
3,1,3,0,1,6218,12,5,23,30,5,25,18,5
4,1,0,5,1,13302,1,3,21,35,4,45,16,50

In [75]:
y=a[['Price']]
y

       Price
0       3897
1       7662
2      13882
3       6218
4      13302
...      ...
10678   4107
10679   4145
10680   7229
10681  12648
10682  11753

[10474 rows x 1 columns]

In [76]:
x=a.drop(['Price'],axis=1)
x

,Airline,Source,Destination,Total_Stops,Journey_day,Journey_month,Arrival_Hour,Arrival_Minute,Duration_Hours,Duration_Minutes,Dep_Hour,Dep_Minute
0,1,0,5,0,24,3,1,10,2,50,22,20
1,0,3,0,2,1,5,13,15,7,25,5,50
2,2,2,1,2,9,6,4,25,19,0,9,25
3,1,3,0,1,12,5,23,30,5,25,18,5
4,1,0,5,1,1,3,21,35,4,45,16,50
...,...,...,...,...,...,...,...,...,...,...,...,...
10678,5,3,0,0,9,4,22,25,2,30,19,55
10679,0,3,0,0,27,4,23,20,2,35,20,45
10680,2,0,2,0,27,4,11,20,3,0,8,20
10681,5,0,5,0,1,3,14,10,2,40,11,30
10682,0,2,1,2,9,5,19,15,8,20,10,55

In [77]:
from sklearn.model_selection import train_test_split

In [78]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=.2)

In [79]:
len(xtrain),len(xtest),len(ytrain),len(ytest)

(8379, 2095, 8379, 2095)

In [80]:
xtrain.shape,xtest.shape,ytrain.shape,ytest.shape

((8379, 12), (2095, 12), (8379, 1), (2095, 1))

In [81]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()

In [82]:
a.head()

,Airline,Source,Destination,Total_Stops,Price,Journey_day,Journey_month,Arrival_Hour,Arrival_Minute,Duration_Hours,Duration_Minutes,Dep_Hour,Dep_Minute
0,1,0,5,0,3897,24,3,1,10,2,50,22,20
1,0,3,0,2,7662,1,5,13,15,7,25,5,50
2,2,2,1,2,13882,9,6,4,25,19,0,9,25
3,1,3,0,1,6218,12,5,23,30,5,25,18,5
4,1,0,5,1,13302,1,3,21,35,4,45,16,50

In [83]:
model.fit(xtrain,ytrain)

LinearRegression()

In [84]:
a.Destination.value_counts()

Destination
1    4447
0    2846
2    1196
5     908
3     696
4     381
Name: count, dtype: int64

In [85]:
model.predict(xtest)

array([[ 7981.92759355],
       [ 9769.92270703],
       [ 8450.15162329],
       ...,
       [16155.73052207],
       [ 9680.43374331],
       [11508.54319764]])

In [86]:
model.score(xtest,ytest)

0.4416404547571059

In [87]:
from sklearn.tree import DecisionTreeClassifier

In [88]:
from sklearn.model_selection import train_test_split

In [89]:
len(xtrain),len(xtest),len(ytrain),len(ytest)

(8379, 2095, 8379, 2095)

In [90]:
from sklearn.tree import DecisionTreeClassifier
model1=DecisionTreeClassifier()

In [91]:
model1=DecisionTreeClassifier()
model1.fit(xtrain,ytrain)

DecisionTreeClassifier()

In [92]:
len(xtrain),len(xtest),len(ytrain),len(ytest)

(8379, 2095, 8379, 2095)

In [93]:
model1.predict(xtest)

array([18581,  6637, 12898, ..., 13990, 16079, 13067])

In [94]:

model1.score(xtest,ytest)

0.36515513126491644

In [95]:
from sklearn.ensemble import RandomForestRegressor
model2=RandomForestRegressor()

In [96]:
y=a[['Price']]
y

       Price
0       3897
1       7662
2      13882
3       6218
4      13302
...      ...
10678   4107
10679   4145
10680   7229
10681  12648
10682  11753

[10474 rows x 1 columns]

In [97]:
from sklearn.model_selection import train_test_split

In [98]:
model2.fit(xtrain,ytrain)

C:\Users\Asus\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\base.py:1473: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

RandomForestRegressor()

In [99]:
model2.predict(xtest)

array([15651.0125    ,  7915.23333333, 13388.30916667, ...,
       13524.71      , 14996.1745    , 12026.46116667])

In [100]:
model2.score(xtest,ytest)

0.7950745336478705

In [101]:
a

,Airline,Source,Destination,Total_Stops,Price,Journey_day,Journey_month,Arrival_Hour,Arrival_Minute,Duration_Hours,Duration_Minutes,Dep_Hour,Dep_Minute
0,1,0,5,0,3897,24,3,1,10,2,50,22,20
1,0,3,0,2,7662,1,5,13,15,7,25,5,50
2,2,2,1,2,13882,9,6,4,25,19,0,9,25
3,1,3,0,1,6218,12,5,23,30,5,25,18,5
4,1,0,5,1,13302,1,3,21,35,4,45,16,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,5,3,0,0,4107,9,4,22,25,2,30,19,55
10679,0,3,0,0,4145,27,4,23,20,2,35,20,45
10680,2,0,2,0,7229,27,4,11,20,3,0,8,20
10681,5,0,5,0,12648,1,3,14,10,2,40,11,30
10682,0,2,1,2,11753,9,5,19,15,8,20,10,55

In [102]:
pre=model2.predict([[1,0,5,0,24,3,1,10,2,50,22,20]])
pre
if(pre==0):
  print('not')
else:
  print('dia')

dia

C:\Users\Asus\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

In [103]:
import pickle

In [104]:
s=open("Flight.pkl","wb")
pickle.dump(model2,s)

In [105]:
w=pickle.load(open("flight.pkl",'rb'))

In [106]:
w=pickle.load(open("flight.pkl","rb"))

In [107]:
w.predict([[1,0,5,0,24,3,1,10,2,50,22,20]])

C:\Users\Asus\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

array([5295.59407143])

In [108]:
a.Airline.value_counts()

Airline
2    3849
1    2053
0    1751
3    1196
4     818
5     807
Name: count, dtype: int64

In [109]:
a.Source.value_counts()

Source
2    4447
3    2846
0    2104
4     696
1     381
Name: count, dtype: int64

In [110]:
a.Destination.value_counts()

Destination
1    4447
0    2846
2    1196
5     908
3     696
4     381
Name: count, dtype: int64

In [111]:
a.Source.info()

<class 'pandas.core.series.Series'>
Index: 10474 entries, 0 to 10682
Series name: Source
Non-Null Count  Dtype
--------------  -----
10474 non-null  int64
dtypes: int64(1)
memory usage: 163.7 KB